html{
	font-size: 10px;
}


a{
	text-decoration: none;

}

body{
	font-family: 'PT Sans', sans-serif;
}

.header{
	height: 90px;
	background-color: #202846;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	position: sticky;
	top: 0;
	z-index: 1;
}

.logo{
	margin-left: 80px;
}

.nav{
display: flex;
margin-left: 180px;
}

.nav__list{
	margin: 0 27px;
	display: flex;
	align-items: center;
	text-align: center;
	font-weight: 700;
	font-size: 2.4em;
	line-height: 31px;
}

.nav-link{
	color: white;
}

.nav-link:hover{
	color: #AEAEE2;
	transition: 300ms;
}

.lang{
margin-right: 40px;
}

.title{
	height: 140px;
	background: #C6C6DC;
	display: flex;
	align-items: center;
}

.title-text{
	font-style: italic;
	font-weight: 400;
	font-size: 4.8em;
	line-height: 62px;
	color: #202846;
	margin-left: 227px;
}

.section-first{
	margin: 0 auto;
	width: 90%;
}

.slider{
	height: 73px;
	margin: 56px 0;
	display: flex;
	align-items: center;
	background: url(../img/slider.png) 99% 46% no-repeat, #E8E8E8 ;
}

.slider-item{
	font-size: 2.8em;
	line-height: 36px;
	margin: 0 auto;
	color: rgba(0, 0, 0, 0.61);
}

.btn-fixed{
	width: 80px;
	height: 80px;
	background: url(../img/Arrow.png) center no-repeat, rgba(85, 87, 104, 0.62);
	text-align: center;
	border-radius: 50%;
	position: fixed;
	z-index: 1;
	bottom: 110px;
	right: 10px;
}

.btn-fixed:hover{
	background: url(../img/Arrow.png) 50% 35% no-repeat, rgba(85, 87, 104, 1);
	transition: 300ms;
}

.card{
	height: 300px;
	margin-bottom: 36px;
	background: #BDBDC6;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	padding: 0 15px;
}

.card:hover{
	background: #AEAEE2;
	box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
	transition: 300ms;
	cursor: pointer;
}

.card__img{
	width: 35%;
	height: 80%;
	overflow: hidden;
}

.card__img img{
	height: 100%;
}

.card__text{
	width: 50%;
	height: 80%;
}

.card__title{
	font-style: italic;
	font-weight: 700;
	font-size: 3.6em;
	line-height: 47px;
	color: #353C57;
	border-bottom: 3px solid #FFFFFF;
}

.card__paragraph{
	margin-top: 10px;
	font-size: 2.2em;
	line-height: 28px;
	text-align: center;
	color: #202846;
	background: #D7D7DD;
	padding: 20px;
}

.card__star, .card__btn{
	position: absolute;
}

.card__star{
	right: 12px;
	top: 12px;
}

.card__btn{
	right: -53px;
	bottom: 8px;
	background: #202846;
	padding: 15px 39px;
	font-size: 2.4em;
	line-height: 31px;
	color: #FFFFFF;
	border-radius: 30px;
}

.card__star-hover:hover svg *{
	fill: #FFFF00;
}

.card__btn:hover{
	background: #EF075B;
	transition: 300ms;
}

.card:last-of-type{
	margin-bottom: 267px;
}

.form{
	height: 500px;
	width: 70%;
	background: #BDBDC6;
	margin: 41px auto;
	display: flex;
	justify-content: space-around;
}

.photo{
	width: 30%;
	margin: 0 auto;
}

.avatar{

	display: block;
	margin: 77px auto 38px;

}

.btn-avatar, .btn-settings{
	display: block;
	width: 250px;
	text-align: center;
	font-size: 2.4em;
	line-height: 31px;
	color: #FFFFFF;
	padding: 10px 20px;
	border-radius: 30px;
	margin: 0 auto;
}

.btn-avatar{
	background: #69749B;
}

.btn-avatar:hover{
	background: #4659a0;
	transition: 300ms;
}

.btn-settings{
	background: #484A54;
	margin-top: 22px;
}

.btn-settings:hover{
	background: #23252c;
	transition: 300ms;
}

.data{
	width: 60%;
	margin-top: 46px;
}

.data__item{
	width: 95%;
	margin-top: 7px;
	height: 80px;
	font-style: italic;
	font-weight: 700;
	font-size: 3.6em;
	line-height: 47px;
	color: #353C57;
	border-bottom: 3px solid #FFFFFF;
	box-sizing: border-box;
}

.data__item:last-of-type{
	border-bottom: none;
}

.fwn{
	font-weight: 400;
	color: #353C57;
}

.form-link{
	color: #353C57;
}

.btn__exit{
	font-size: 2.7em;
	line-height: 35px;
	color: #FFFFFF;
	background: #202846;
	padding: 10px 58px;
	border-radius: 30px;
}

.btn__exit:hover{
	background: #090c1b;
	transition: 300ms;
}

.btn__form{
	margin: 40px 0 219px 0;
	text-align: center;
}

.contacts{
	font-size: 3.2em;
	line-height: 41px;
	text-align: center;
	display: flex;
	justify-content: center;
}

.line-bottom{
	border-bottom: 3px solid #202846;
}

.contacts__item{
	margin: 63px 67px;
}

.text-link{
	color: #000000;
}

.address{
	width: 400px;
	font-size: 3.2rem;
	line-height: 41px;
	text-align: center;
}

.map{
	margin-left: 126px;
}

.map__item{
	height: 335px;
	width: 570px;
	border: 3px solid rgba(0, 0, 0, 0.05);
	border-radius: 40px;
}

.footer{
	margin-top: 64px;
	height: 90px;
	background: #202846;
	font-style: italic;
	font-weight: 400;
	font-size: 3.6em;
	line-height: 47px;
	color: #EEECF1;
	padding: 21px 60px;
	box-sizing: border-box;
	}